@tailwind base;
@tailwind components;
@tailwind utilities;

body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4,
h5,
h6 {
  font-size: 1.4rem;
}
